.changePwdPanel {
    background-color: white;
    margin: 10px;  
}

/* For reset password panel header */
.changePwdPanel div[data-header]{
    background-color: darkslateblue;
    color: white;
    font-family: Arial;
    font-size: large;            
}

/* For reset password panel contnet */
.changePwdPanel div[data-changePassword]{
    color: darkslateblue;
    font-family: Arial; 
}

/* For Submit button */
.changePwdPanel button{
    background-color: darkslateblue;
    color: white;  
    font-weight: bold;      
}

/* For Submit button - change style on hover */
.changePwdPanel button:hover{    
    background-color: white;
    color: darkslateblue;  
    font-weight: bold;  
    border: 1px solid darkslateblue;
}

/* For links */
.changePwdPanel a{
    color: grey;
    font-style: italic;
}

/* For links - change style on hover */
/*
.forgotPwdPanel a:hover{
}
*/