.forgotPwdPanel {
    background-color: white;
    margin: 10px;  
}

/* For forgot password panel header */
.forgotPwdPanel div[data-header]{
    background-color: darkslateblue;
    color: white;
    font-family: Arial;
    font-size: large;           
}

/* For forgot password panel contnet */
.forgotPwdPanel div[data-forgotPassword]{
    color: darkslateblue;
    font-family: Arial; 
}

/* For Submit button */
.forgotPwdPanel button{
    background-color: darkslateblue;
    color: white;  
    font-weight: bold;      
}

/* For Submit button - change style on hover */
.forgotPwdPanel button:hover{    
    background-color: white;
    color: darkslateblue;  
    font-weight: bold;  
    border: 1px solid darkslateblue;
}

/* For error messages */
.forgotPwdPanel span{
    color: red;
    font-style: italic;
}

/* For links */
.forgotPwdPanel a{
    color: grey;
    font-style: italic;
}

/* For links - change style on hover */
/*
.forgotPwdPanel a:hover{
}
*/